<nav class="bg-primary-subtle nav nav-underline">
  <a class="text-danger nav-link" aria-current="page" href="/login">Login</a>
  <a class="text-warning nav-link" href="/register">Register</a>
  <a class="nav-link" href="/me/logout">Logout</a>
</nav>
